* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #464866;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif
}

header {
    grid-area: headerTag;
    height: 70px;
    background-color: #181927;
    width: 100%;
  
}

article {
    grid-area: articleTag;
    width: 1024px;
    margin: auto; 
    height: 2526px;
    position: relative;
    background-color:#1f2344;
}

footer {
    grid-area: footerTag;
    height: 70px;
    background-color:#181927;
    
}


.pageLogo {
    float: left;
    margin-top: 10px;
    margin-left: 2%;
}
.navigationBar {
    width: 1200px;
    margin: auto;  
    text-align: center;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    line-height: 70px;
    font-family: sans-serif;
}

li {
    color: #FFFFFF;
    display: inline; 
    margin: 30px;
}

.contactInfo {
    float: right;
    text-align: center;
    color: #FFFFFF;
    margin-top: 25px;
    margin-right: 40px;
   
}

#currrentpage {
    text-decoration: underline;
}

#homepagepicture {
    width: 100%;
    height: 405px;
    
}

#homepagepicture img {
    width: 100%;
    height: 403px;
}

#welcomeHeader {
    height: 68px;
    width: 100%;
    text-align: center;
    color: #49bbff;
    line-height: 68px;
    font-size: 20px;
    
}

#firstSectionhome {
    height: 930px;
    background-color: #307a99;
    width: 100%;
}

#secondSectionhome {
    margin-top: 35px;
    height: 287px;
    background-color: #29648a;
}

#thirdSectionhome {
    margin-top: 35px;
    height: 446px;
    background-color: #307a99
}

#fourthSectionhome {
    margin-top: 35px;
    height: 285px;
    background-color: #29648a;
}

h1 {
    font-size: 22px;
    width: 100%;
    height: 74px;
    text-align: center;
    line-height: 74px;
}

h2 {
    font-size: 20px;
    width: 100%;
    height: 74px;
    text-align: center;
    line-height: 74px;
}

.firstSectiontext {
    font-size: 18px;
    line-height: 34px;
    height: 108px;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.secondSectiontext {
    font-size: 18px;
    line-height: 34px;
    height: 90px;
    width: 95%;
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.thirdSectiontext {
    font-size: 18px;
    line-height: 34px;
    height: 60px;
    width: 95%;
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fourthSectiontext {
    font-size: 18px;
    line-height: 34px;
    height: 90px;
    width: 95%;
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.articleParagraph {
    width: 482px;
    height: 208px;
    background-color: #29648A;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
}


#firstSectionhome aside {
   
    width: 482px;
    height: 332px;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}

.articleParagraph h3, h3 ~ p {
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    margin-top: 2%  ;
    padding-left: 3%;
    position: relative;
}

.articleParagraph button {
    width: 215px;
    height: 55px;
    background-color: #1F2344;
    color: #49BBFF;
    
    position: absolute;
    top: 68%;
    left: 53%;
    font-size: 18px;
    font-family: sans-serif;  
    box-shadow: 3px 3px 4px #292626;
}

aside img {
    width: 100%;
    height: 100%;
}

.biggerButton {
    width: 70%;
    height: 90px;
    margin-left: 15%;
    color: #49BBFF;
    font-size: 20px;
    background-color: #1F2344;
    box-shadow: 4px 4px 4px #292626;
}

.thirdSectiontext ~ p {
    height: 40px;
    width: 470px;
    background-color: #29648a;
    line-height: 40px;
    margin-bottom: 20px;
    margin-left: 3%;
    padding-left: 1%;
    float: left;
    border: 1px;
    border-style:solid;
    border-color: #0AB7FF;
}

#thirdSectionhome aside {
   
    width: 45%;
    height: 288px;
    float: right;
    margin-right: 3%;
    border: 1px;
    border-style:solid;
    border-color: #0AB7FF;
  
}

.biggerButton {
    width: 70%;
    height: 90px;
    margin-left: 15%;
    color: #49BBFF;
    font-size: 20px;
    background-color: #1F2344;
    box-shadow: 4px 4px 4px #292626;
}

.copyrightInfo {
    width: 88%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 25px;
    
}

#articleschema {
    height: 3194px;
    grid-area: articleTag;
    width: 1024px;
    margin: auto; 
    position: relative;
    background-color:#1f2344;
}

#firstSectionschema {
    
    height: 275px;
    background-color: #307a99;
    width: 100%;
}

.schemasection {
    margin-top: 35px;
    height: 650px;
    background-color: #29648a;
}


.schemasection, #leegschemasection > h3 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
} 

.schemasection > p {
    width: 40%;
    padding-top: 80px;
    float: left;
    line-height: 34px;
}

.schemapicture {
    width: 40%;
    margin-top: 30px;
    float: right;
    background-color: #0AB7FF;
    margin-right: 5%;
    height: 510px;
}

.schemabutton {
    margin-top: 30px;
    width: 40%;
    margin-left: 3%;
    height: 50px;
    float: left;
    background-color:#1F2344;
    color: #FFFFFF;
    font-size: 14px;
    box-shadow: 4px 4px 4px #292626;
    
}

#leegschemasection {
    margin-top: 35px;
    height: 335px;
    background-color: #307a99;
}

#leegschemasection > p {
    width: 95%;
    text-align: center;
    line-height: 34px;
}

#leegschemasection .schemabutton {
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    
}

#colorchange {
    background-color: #307a99;
}

button:hover {
    cursor:pointer;
}

#tipsarticle {
    grid-area: articleTag;
    width: 1024px;
    margin: auto; 
    height: 2324px;
    position: relative;
    background-color:#1f2344;
}
#firstSectionTips {
    height: 200px;
    background-color: #307a99;
    width: 100%;
    margin-top: 35px;
}

#firstSectionTips > p {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    line-height: 34px;
    font-size: 20px;
}

#mainSectionTips {
    width: 100%;
    margin-top: 35px;
    height: 1650px;
    background-color:#29648A;
}

#mainSectionTips > p {
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
    line-height: 34px;
    font-size: 18px;

}

#mainSectionTips > figure {
    width: 90%;
    margin: auto;
    background-color: #0AB7FF;
    height: 440px;
    margin-top: 30px;
}

figure > img {
    width: 100%;
    height: 100%;
}

.halfParagraph {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 34px;
    font-size: 18px;
    height: 470px;
    clear: both;
    

}

.halfParagraph > p {
    margin-top: 40px;
    font-size: 18px;
    width: 40%;
    float: left;
  
}

.halfParagraph > aside {
    float: right;
    width: 45%;
    margin-right: 5%;
    height: 430px;
    margin-top: 40px;
    
}
.halfpParagraph > p {
    margin-top: 400px;
}
p a {
    color: #FFFFFF;
}

article {
    grid-area: articleTag;
    width: 1024px;
    margin: auto; 
    height: 2745px;
    position: relative;
    background-color:#1f2344;
}
#grid-container
{
    display: grid;
    grid-gap: 0px;
/* column1   #column2    #column3    #column4 */
grid-template-areas:
    'headerTag  headerTag   headerTag   headerTag'
    'articleTag articleTag  articleTag  articleTag'
    'footerTag  footerTag   footerTag   footerTag';
}

.beginnersection {
    width: 100%;
    height: 1070px;
    background-color:#29648A;
    margin-top: 30px;

}

.routesection {
    margin: auto;
    width: 90%;
    margin-top: 30px;
    height: 450px;
    background-color: #307A99;
    border: 1px;
    border-color: #0AB7FF;
    border-style: solid;
}

.routeinfo {
    width: 40%;
    margin-left: 5%;
    line-height: 50px;
    font-weight: normal;
    margin-top: 2%;
    height: 300px;
    float: left;
}

.routesection > figure {
    width: 350px;
    margin-right: 5%;
    line-height: 45px;
    font-weight: normal;
    
    height: 350px;
    float: right;
    background-color: #0AB7FF;
    border: 1px;
    border-color: #0AB7FF;
    border-style: solid;
}

.advancedsection {
    width: 100%;
    height: 585px;
    background-color:#29648A;
    margin-top: 35px;
}

.routeinfo > button {
    width: 275px;
    height: 65px;
    color: white;
    background-color: #1F2344;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow:4px 4px 4px #292626;
    font-weight: bold;
}

h4 {
    font-weight: normal;
}

.inforoutesection {
    width: 100%;
    height: 680px;
    background-color:#29648A;
}

.maps {
    padding-top: 20px;
    width: 90%;
    margin: auto;
    height: 490px;
}

#satalitemap {
    float: left;
    height: 90%;
    width: 50%;
}

.routerouteinfo {
    margin-left: 89px;
    margin-right: 89px;
    width: 160px;
    text-align: center;
    height: 45px;
    float: left;
    background-color: #307A99;
    line-height: 45px;
    border: 1px;
    border-color: #0AB7FF;
    border-style: solid;

}