* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #464866;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif
}

header {
    grid-area: headerTag;
    height: 70px;
    background-color: #181927;
    width: 100%;
  
}

article {
    grid-area: articleTag;
    width: 1024px;
    margin: auto; 
    height: 2526px;
    position: relative;
    background-color:#1f2344;
}

footer {
    grid-area: footerTag;
    height: 70px;
    background-color:#181927;
    position: relative;
    
}


.pageLogo {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
 

}
.navigationBar {
    width: 1024px;
    margin: auto;  
    text-align: center;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    line-height: 70px;
    font-family:'Source Serif 4', serif;

}

li {
    color: #FFFFFF;
    display: inline; 
    margin: 30px;
}

.contactInfo {
    position: absolute;
    top: 28px;
    right: 50px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
   
}

#currrentpage {
    text-decoration: underline;
    color: #49BBFF;
}

#homepagepicture {
    width: 100%;
    height: 405px;
    position: relative;
    
}

#homepagepicture img {
    width: 100%;
    height: 403px;
}

#welcomeHeader {
    height: 68px;
    width: 100%;
    text-align: center;
    color: #49bbff;
    line-height: 68px;
    font-size: 20px;
    
}
#welcomeHeader::first-letter {
    font-size: 1.2em;
}

#firstSectionhome {
    height: 930px;
    background-color: #307a99;
    width: 100%;
}

#secondSectionhome {
    margin-top: 35px;
    height: 287px;
    background-color: #29648a;
}

#thirdSectionhome {
    margin-top: 35px;
    height: 446px;
    background-color: #307a99
}

#fourthSectionhome {
    margin-top: 35px;
    height: 285px;
    background-color: #29648a;
}

h1 {
    font-size: 22px;
    width: 100%;
    height: 74px;
    text-align: center;
    line-height: 74px;
}

h2 {
    font-size: 20px;
    width: 100%;
    height: 74px;
    text-align: center;
    line-height: 74px;
}

.firstSectiontext {
    font-size: 1.2em;
    line-height: 34px;
    height: 108px;
    width: 90%;
    margin: auto;
    text-align: center;
    
}
.secondSectiontext {
    font-size: 1.1em;
    line-height: 34px;
    height: 90px;
    width: 95%;
    margin: auto;
    text-align: center;
   
}

.thirdSectiontext {
    font-size: 1.1em;
    line-height: 34px;
    height: 60px;
    width: 95%;
    margin: auto;
    text-align: center;
 
}
.fourthSectiontext {
    font-size: 1.1em;
    line-height: 34px;
    height: 90px;
    width: 95%;
    margin: auto;
    text-align: center;
  
}


.articleParagraph {
    width: 482px;
    height: 208px;
    background-color: #29648A;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
}


#firstSectionhome aside {
   
    width: 482px;
    height: 332px;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}

.articleParagraph h3, h3 ~ p {
    text-align: left;
    line-height: 30px;
    font-size: 1.1em;
    margin-top: 2%  ;
    padding-left: 3%;
    position: relative;
}

.articleParagraph a {
    width: 215px;
    height: 55px;
    line-height: 55px;
    background-color: #1F2344;
    color: #49BBFF;
    position: absolute;
    top: 68%;
    left: 53%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; 
    box-shadow: 3px 3px 4px #292626;
    text-align: center;
    text-decoration: none;
    
}

aside img {
    width: 100%;
    height: 100%;
}



.thirdSectiontext ~ p {
    height: 40px;
    width: 470px;
    background-color: #29648a;
    line-height: 40px;
    margin-bottom: 20px;
    margin-left: 3%;
    text-indent: 20px;
    float: left;
    border-width: 1px;
    border-style:solid;
    border-color: #0AB7FF;
}

#thirdSectionhome aside {
   
    width: 45%;
    height: 288px;
    float: right;
    margin-right: 3%;
    border-style:solid;
    border-color: #0AB7FF;
    border-width: 1px;
  
}

.biggerButton {
    width: 80%;
    height: 55px;
    line-height: 55px;
    background-color: #1F2344;
    position: absolute;
    left: 10%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; 
    box-shadow: 3px 3px 4px #292626;
    text-align: center;
    text-decoration: none;
}

.copyrightInfo {
    position: absolute;
    left: 42%;
    top: 35%;
    text-transform: uppercase;

    
}

#articleschema {
    height: 3215px;
    grid-area: articleTag;
    width: 1024px;
    margin: auto; 
    position: relative;
    background-color:#1f2344;
}

#firstSectionschema {
    
    height: 275px;
    background-color: #307a99;
    width: 100%;
}

.schemasection {
    margin-top: 35px;
    height: 650px;
    background-color: #29648a;
}


.schemasection, #leegschemasection > h3 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
} 

.schemasection > p {
    width: 40%;
    padding-top: 80px;
    float: left;
    line-height: 34px;
}

.schemapicture {
    width: 40%;
    margin-top: 30px;
    float: right;
    background-color: #0AB7FF;
    margin-right: 5%;
    height: 510px;
}

.schemabutton {
    margin-top: 30px;
    width: 40%;
    margin-left: 3%;
    height: 50px;
    float: left;
    background-color:#1F2344;
    font-size: 14px;
    box-shadow: 4px 4px 4px #292626;
    line-height: 50px;
    text-decoration: none;
    color: #FFFFFF
}


#leegschemasection {
    margin-top: 35px;
    height: 335px;
    background-color: #307a99;
}

#leegschemasection > p {
    width: 95%;
    text-align: center;
    line-height: 34px;
}

#leegschemasection .schemabutton {
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    text-align: center;
    font-size: 14px;
}

#colorchange {
    background-color: #307a99;
}



#tipsarticle {
    grid-area: articleTag;
    width: 1024px;
    margin: auto; 
    height: 2440px;
    position: relative;
    background-color:#1f2344;
}
#firstSectionTips {
    height: 200px;
    background-color: #307a99;
    width: 100%;
}

#firstSectionTips > p {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    line-height: 34px;
    font-size: 20px;
}

#mainSectionTips {
    width: 100%;
    margin-top: 35px;
    height: 1750px;
    background-color:#29648A;
}

#mainSectionTips > p {
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
    line-height: 34px;
    font-size: 18px;

}

#mainSectionTips > figure {
    width: 75%;
    margin: auto;
    background-color: #0AB7FF;
    height: 540px;
    margin-top: 30px;
}

figure > img {
    width: 100%;
    height: 100%;
}

.halfParagraph {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 34px;
    font-size: 18px;
    height: 480px;
    clear: both;

}

.halfParagraph > p {
    
    margin-top: 40px;
    font-size: 18px;
    width: 40%;
    float: left;
}

.halfParagraph > figure {
    float: right;
    width: 50%;
    margin-right: 5%;
    height: 470px;
    margin-top: 25px;

    
}

p a {
    color: #FFFFFF;
}


#routearticle {
    height: 2765px;
    grid-area: articleTag
}

.beginnersection {
    width: 100%;
    height: 1070px;
    background-color:#29648A;

}

.routesection {
    margin: auto;
    width: 90%;
    margin-top: 30px;
    height: 450px;
    background-color: #307A99;
    border-width: 1px;
    border-color: #0AB7FF;
    border-style: solid;
}

.routeinfo {
    width: 40%;
    line-height: 50px;
    font-weight: normal;
    margin-top: 2%;
    height: 300px;
    float: left;
}

.routesection > figure {
    width: 350px;
    margin-right: 5%;
    line-height: 45px;
    font-weight: normal;
    
    height: 350px;
    float: right;
    border-width: 1px;
    border-color: #0AB7FF;
    border-style: solid;
}

.advancedsection {
    width: 100%;
    height: 585px;
    background-color:#29648A;
    margin-top: 35px;
}

.routeinfo > a {
    width: 275px;
    height: 65px;
    color: white;
    background-color: #1F2344;
    font-size:  17px;
    font-family: 'Roboto', sans-serif;
    box-shadow:4px 4px 4px #292626;
    font-weight: bold;
    position: absolute;
    line-height: 65px;
    text-align: center;
    left: 10%;
    text-decoration: none;

}

h4 {
    font-weight: normal;
    text-indent: 30px;
}

.inforoutesection {
    width: 100%;
    height: 650px;
    background-color:#29648A;
}

.maps {
    padding-top: 20px;
    width: 90%;
    margin: auto;
    height: 470px;
    
}

.maps > img {
    float: left;
    height: 95%;
    width: 50%;
}

.basicrouteinfo {
    margin-left: 89px;
    margin-right: 89px;
    width: 160px;
    text-align: center;
    height: 45px;
    float: left;
    background-color: #307A99;
    line-height: 45px;
    border-width: 1px;
    border-color: #0AB7FF;
    border-style: solid;

}

.routebeschrijving {
    width: 100%;
    height: 350px;
    background-color:#29648A;

}

.routebeschrijving > h3 {
    margin-left: 3%;
    padding-top: 40px;
}

.routebeschrijving > a {
    float: left;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 5%;
    background-color:#1F2344;
    height: 25px;
    line-height: 25px;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow:4px 4px 4px #292626;
    text-decoration: none;
}

#routeinfoarticle {
    grid-area: articleTag;
    width: 1024px;
    margin: auto; 
    height: 1050px;
    position: relative;
    background-color:#1f2344;
}


/* Deze mediaquery is zodat de pagina groot genoeg is voor groter scherm */
@media only screen and (min-width: 2450px) {
    .routebeschrijving {
        height: 490px;
    }
    #routeinfoarticle {
        height: 1190px;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #181927bd; 
    z-index: 9998; 
    width: 280px;
    top: 200%; 
    left: -40px; 
}

.navigationBar li {
    position: relative;
}

.navigationBar:hover .dropdown-menu {
    display: block;
}

#contactinfo > h2 {
    width: 30%;
}

#contactinfo > p {
    width: 30%;
    margin-left: 6%;
    line-height: 40px;
    margin-top: 15px;
}


#contactform {
    width: 100%;
    height: 1000px;
    background-color:#29648A;
    margin-top: 25px;
    float: left;
    
}
#contactform > form {
    width: 90%;
    margin: auto;
    background-color: #307A99;
    height: 820px;
    padding-top: 5%;
    margin-top: 40px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #0AB7FF;
    border-style: solid;
    
}

fieldset > section {
    margin-left: 40px;
    width: 260px;
    float: left;
    margin-bottom: 60px;
    
}

label {
    font-size: 20px;
    width: 250px;
}
input {
    width: 235px; 
    height: 48px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 5px;
    color:#a1a1a1;
}

.phoneandemail {
    margin-left: 40px;
    width: 420px;
    float: left;
    margin-bottom: 60px;
    
}

.phoneandemail > input {
    width: 375px;
}

#dropdownSection > label{
    float: left;
    
}

#dropdownSection {
    clear: both;
    width: 95%;
}
select {
    width: 840px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
}

#textfield {
    width: 97%;
    float: left;
    clear: both;
}

#textfield > textarea {
    width: 840px;
    height: 300px;
    border-radius: 5px;
   
}

textarea {
    font-size: 18px;
    resize: none;
}

#verstuurknopform {
    float: right;
    margin-right: 45px;
    height: 50px;
    width: 180px;
    color: #FFFFFF;
    background-color: #1F2344;
    margin-top: -30px;
    border-radius: 5px;
    box-shadow:4px 4px 4px #292626;
    font-size: 18px;
}

a:visited {
    color: #FFFFFF;
}

.pagelinks {
    text-decoration: none;
    line-height: 50px;
    padding-left: 10px;
    color: #FFFFFF;
}

#contactarticle {
    grid-area: articleTag;
    height: 1393px;
}

#grid-container
{
    display: grid;
    grid-gap: 0px;
/* column1   #column2    #column3    #column4 */
grid-template-areas:
    'headerTag  headerTag   headerTag   headerTag'
    'articleTag articleTag  articleTag  articleTag'
    'footerTag  footerTag   footerTag   footerTag';
}

#homepagepicture > h1 {
    position: absolute;
    top: 41%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    word-spacing: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

#homepagepicture > h1::first-letter {
    font-size: 1.3em;
}

legend {
    text-indent: 40px;
    margin-bottom: 5px;
}

a:hover {
    text-decoration: underline;
}

figcaption {
    font-size: 14px;
}

#cookies {
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 50px;
    width: 400px;
    background-color: #023622;
    z-index: 9999;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow:4px 4px 4px #292626;
    color: #FFFFFF;
}

#cookies:target {
    display: none;
}

#cookies > a {
    color: #FFFFFF;
}


/* Ervoor zorgen dat alle pagina's en headers ook goed op mobile passen */
@media screen and (max-width: 768px) {
  .pageLogo {
    display: none;
  }
  #routeinfoarticle {
    height: 2200px;
  }
  .contactInfo {
    right: 5px;
  }
  .copyrightInfo {
    left: 36%;
  }

}
