* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    grid-area: headerTag;
    height: 100px;
    background-color: #4d9fDA;
    
}
nav {
    grid-area: navTag;
    height: 50px;
}

article {
    grid-area: articleTag;
    height: 200px;
}

footer {
    grid-area: footerTag;
    height: 100px;
    background-color:#4d9fDA;
    
}

#grid-container
{
    display: grid;
    grid-gap: 0px;

/* column1   #column2    #column3    #column4 */
grid-template-areas:
    'headerTag  headerTag   headerTag   headerTag'
    'navTag     navTag      navTag      navTag'
    'articleTag articleTag  articleTag  articleTag'
    'footerTag  footerTag   footerTag   footerTag';
}

ul li {
    float:left;
    margin-right: 25px;
    margin-left: 25px;
    list-style-type: none;
}

.navBar {
    background-image: linear-gradient(#ffffff, #d4d4d4 90%);
    box-shadow: 0px 5px 10px #aaaaaa;

}

li a {
    text-decoration: none;
    color: #2551BF;
    font-size: 21px;
   font-weight: bold;
   line-height: 50px;
}

ul {
    width: 1024px;
    margin: auto;
}

section {
    width: 1024px;
    margin: auto;  
}

.logo {
    float: left;
    width: 280px;
    margin-right: 60px;
   
}

.contactLogo {
    float: right;
    margin-top: 40px;
}

.mainpage {
    width: 1024px;
    margin: auto;
    
    height: 1065px;
}

.copyright {
    line-height: 100px;
    color: #ffffff;
    font-size: 1.3em;
}